{% extends "base.html" %}
{% block content %}
<h1>Axis and Allies helpper</h1>
<h2>New Game</h2>
<p>Select players and press the button</p>
<form method="post" action="{{base_path}}/game/new">

    {% for user in users %}
    {% if user.id == user_logged_in.id %}
    <div class="checkbox">
        <label>
            <input type="checkbox" name="{{user.id}}" value="{{user.id}}"
                   checked disabled>
            <input type="hidden" name="{{user.id}}" value="{{user.id}}">
            {{user.name}}
        </label>
    </div>
    {% else %}    
    <div class="checkbox">
        <label>
            <input type="checkbox" name="{{user.id}}" value="{{user.id}}">
            {{user.name}}
        </label>
    </div>
    {% endif %}
    {% endfor %}


    <div class="form-group">
        <button type="submit" class="btn btn-primary">Start Game</button>
    </div>
</form>
{% endblock %}