{% extends "base.html" %}
{% block content %}
{% import "macros/messages.html" as messages %}
{{messages.message(message)}}
{{messages.errors(errors)}}
{{messages.error(error)}}
<h1>Axis and Allies helpper</h1>
<h2>Players: <small>{{game.print_players}}</small></h2>


<h3>Bank</h3>
<table class="table table-striped table-bordered table-responsive">
    <thead>
        <tr>
            <th>Country</th>
            <th>Income</th>
            <th>IPC</th>
            <th>Buys</th>            
            <th></th>
        </tr>
    </thead>

    <tbody>
        <tr>
            {% for country in countries %}
            {% if country.nation != 'NEUTRAL' %}
            <td>{{country.nation}}</td>
                {{country.update_income()}}
            <td>{{country.income}}</td>
            <td>{{country.ipc}}</td>
            <td>
                <form method="post" action="{{base_path}}/game/buys/{{country.id}}">
                    <input type="number" name="buys" id="{{country.id}}" min="0" max="{{country.ipc}}" value="0" class="btn btn-default">
                    <input type="hidden" name="ipc" value="{{country.ipc}}">
                    <div class="btn-group">
                        <button type="button" onclick="plus({{country.id}})" class="btn btn-default btn-sm">+</button>
                        <button type="button" onclick="minus({{country.id}})" class="btn btn-default btn-sm">-</button>
                    </div>
                    <td>                       
                        <input type="hidden" name="game_id" value="{{country.game_id}}">
                        <button type="submit" class="btn btn-default btn-sm">Deploy</button>
                    </td>
                </form>
            </td>           

        </tr>
        {% endif %}
        {% endfor %}       
    </tbody>
</table>

<h3>Board</h3>
{% for key, land in lands %}
<h4>{{key}}</h4>

<table class="table table-striped table-bordered table-responsive">
    <thead>
        <tr>
            <th>Area</th>
            <th>Control</th>
            <th>Soldiers</th>
            <th>Artillery</th>
            <th>Tanks</th>
            <th>Fighters</th>
            <th>Bombers</th>
            <th>Anti-air</th>
            <th>Factory</th>
            <th></th>
        </tr>
    </thead>


    <tbody>
        {% for tile in land %}
        <tr>
            <td>{{tile.area}}</td>
            <td>
                <form method="post" action="{{base_path}}/game/land/{{tile.id}}/update">
                    <fieldset class="form-inline">
                        <label for="control"></label>
                        <select class="form-control" id="tile.id" name="control">
                            <option selected value='{{tile.control}}'>{{tile.control}}</option>
                            {% if tile.control != 'USSR' %}
                            <option value='USSR'>USSR</option>
                            {% endif %}
                            {% if tile.control != 'GERMANY' %}
                            <option value="GERMANY">GERMANY</option>
                            {% endif %}
                            {% if tile.control != 'UK' %}
                            <option value="UK">UK</option>
                            {% endif %}
                            {% if tile.control != 'JAPAN' %}
                            <option value="JAPAN">JAPAN</option>
                            {% endif %}
                            {% if tile.control != 'USA' %}
                            <option value="USA">USA</option>
                            {% endif %}
                            {% if tile.control != 'NEUTRAL' %}
                            <option value="NEUTRAL">NEUTRAL</option>
                            {% endif %}
                        </select>
                    </fieldset>
            </td>
            <td>   
                <input type="number" name="soldiers" id="soldier{{tile.id}}" 
                       min="0" max="99" value="{{tile.soldiers}}" class="btn btn-default">                
            </td>
            <td>   
                <input type="number" name="artillery" id="artillery{{tile.id}}" 
                       min="0" max="99" value="{{tile.artillery}}" class="btn btn-default">
            </td>
            <td>   
                <input type="number" name="tanks" id="tanks{{tile.id}}" 
                       min="0" max="99" value="{{tile.tanks}}" class="btn btn-default">
            </td>
            <td>   
                <input type="number" name="fighters" id="fighters{{tile.id}}" 
                       min="0" max="99" value="{{tile.fighters}}" class="btn btn-default">
            </td>
            <td>   
                <input type="number" name="bombers" id="bombers{{tile.id}}" 
                       min="0" max="99" value="{{tile.bombers}}" class="btn btn-default">
            </td>
            <td>   
                <input type="number" name="antiair" id="antiair{{tile.id}}" 
                       min="0" max="99" value="{{tile.antiair}}" class="btn btn-default">
            </td>
            <td>   
                <input type="number" name="factory" id="factory{{tile.id}}" 
                       min="0" max="1" value="{{tile.factory}}" class="btn btn-default">
            </td>
            <td>
                <input type='hidden' name='game_id' value='{{tile.game_id}}'>
                <button type="submit" class="btn btn-default btn-sm">Update</button>
            </td>



            </form>

        </tr>
        {% endfor %}
    </tbody>
</table>
{% endfor %}

<h4>Sea</h4>
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Nr</th>
            <th>Control</th>
            <th>Destroy.</th>
            <th>Subs</th>
            <th>Battles.</th>
            <th>Carriers</th> 
            <th>Fighters</th>
            <th>Bombers</th>
            <th>Trans.</th>
            <th>Soldi.</th>
            <th>Arti.</th>
            <th>Tanks</th>
            <th>A-Air</th>
            <th></th>
        </tr>
    </thead>
    <body>
        
        {% for tile in waters %}
    <tr>
        <td>{{tile.area}}</td>
        <td>
            <form method="post" action="{{base_path}}/game/water/{{tile.id}}/update">
                <fieldset class="form-inline">
                    <label for="control"></label>
                    <select class="form-control" id="tile.id" name="control">
                        <option selected value='{{tile.control}}'>{{tile.control}}</option>
                        {% if tile.control != 'USSR' %}
                        <option value='USSR'>USSR</option>
                        {% endif %}
                        {% if tile.control != 'GERMANY' %}
                        <option value="GERMANY">GERMANY</option>
                        {% endif %}
                        {% if tile.control != 'UK' %}
                        <option value="UK">UK</option>
                        {% endif %}
                        {% if tile.control != 'JAPAN' %}
                        <option value="JAPAN">JAPAN</option>
                        {% endif %}
                        {% if tile.control != 'USA' %}
                        <option value="USA">USA</option>
                        {% endif %}
                        {% if tile.control != 'NEUTRAL' %}
                        <option value="NEUTRAL">NEUTRAL</option>
                        {% endif %}
                    </select>
                </fieldset>
        </td>
        <td>   
            <input type="number" name="destroyers" id="destroyers{{tile.id}}" 
                   min="0" max="99" value="{{tile.destroyers}}" class="btn btn-default">
        </td>
        <td>   
            <input type="number" name="submarines" id="submarines{{tile.id}}" 
                   min="0" max="99" value="{{tile.submarines}}" class="btn btn-default">
        </td>
        <td>   
            <input type="number" name="battleships" id="battleships{{tile.id}}" 
                   min="0" max="99" value="{{tile.battleships}}" class="btn btn-default">
        </td>
        <td>   
            <input type="number" name="carriers" id="carriers{{tile.id}}" 
                   min="0" max="99" value="{{tile.carriers}}" class="btn btn-default">
        </td>
        <td>   
            <input type="number" name="fighters" id="fighters{{tile.id}}" 
                   min="0" max="99" value="{{tile.fighters}}" class="btn btn-default">
        </td>
        <td>   
            <input type="number" name="bombers" id="bombers{{tile.id}}" 
                   min="0" max="99" value="{{tile.bombers}}" class="btn btn-default">
        </td>
        <td>   
            <input type="number" name="transporters" id="transporters{{tile.id}}" 
                   min="0" max="99" value="{{tile.transporters}}" class="btn btn-default">
        </td>
        <td>   
            <input type="number" name="soldiers" id="soldier{{tile.id}}" 
                   min="0" max="99" value="{{tile.soldiers}}" class="btn btn-default">                
        </td>
        <td>   
            <input type="number" name="artillery" id="artillery{{tile.id}}" 
                   min="0" max="99" value="{{tile.artillery}}" class="btn btn-default">
        </td>
        <td>   
            <input type="number" name="tanks" id="tanks{{tile.id}}" 
                   min="0" max="99" value="{{tile.tanks}}" class="btn btn-default">
        </td>
        <td>   
            <input type="number" name="antiair" id="antiair{{tile.id}}" 
                   min="0" max="99" value="{{tile.antiair}}" class="btn btn-default">
        </td>          
        <td>
            <input type='hidden' name='game_id' value='{{tile.game_id}}'>
            <button type="submit" class="btn btn-default btn-sm">Update</button>
        </td>



        </form>

    </tr>
    {% endfor %}
    
</tbody>
</table>

<script>
    function plus(button) {

    document.getElementById(button).stepUp(1);
    }
    function minus(button) {

    document.getElementById(button).stepDown(1);
    }
</script>
{% endblock %}